* {
    appearance: none;
    margin: 0;
}

@font-face {
    font-family: 'Dancing Script', cursive;
    src: local("Dancing Script"),
    url("DancingScript-VariableFont_wght.ttf");
    font-weight: bold;
  }

body {
    display: flex;
    height: 100vh;

}

.headerOne {
    background: url(https://images.unsplash.com/photo-1625685959735-77460dc42f06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80;) no-repeat;
    background-size: cover;
    display: flexbox;
    min-width: 600px;
    height: 100%;
    min-height: 100vh;
}



.odin {
    display: flex;
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: 900;
    justify-content: center;
    align-self: center;
    margin-top: 20svh;
    font-size: 50px;
}

.footer {
    font-family: 'Prosto One', cursive;
    display: flex;
    flex-direction: column;
    color: rgb(223, 223, 223);
    font-size: 1em;
    text-align: center;
    margin-top: 70vh;
}

.headerTwo {
    display: flexbox;
    padding-left: 3em;
    padding-right: auto;
    padding-top: 5em;
    padding-bottom: 1em;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(183, 232, 255);
    width: 100vw;
    height: 100%;
    height: 100vh;
    font-family: 'Prosto One', cursive;
}

.paragraphOne {
    max-width: 53vw;
    word-wrap: break-word;
}

.paragraphThree {
    padding-top: 1.5em;
}

.group {
    display: flex;
    flex-direction: column;
}

.headerThree {
    padding-bottom: 3em; 
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 45em;
    font-family: 'Prosto One', cursive;
}

#doThis {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
    font-family: 'Prosto One', cursive;
}

.columnOne {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.columnTwo {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#doubleColumn {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 3.5em;
    padding-right: 20em;
}

form {
    position: absolute;
    width: 300px;
    height: 10px;
}

input {
    position: relative;
    text-align: left;
    padding-left: .7em;
    width: 17em;
    height: 1.5em;
    font-family: 'Prosto One', cursive;
    background-color: rgb(178, 204, 219);
}

input[type="password"]:invalid {
    border-color: red;
    background-color: rgb(231, 191, 191);
}

.errorPass,
.errorPassTwo {
    padding: 0;
    font-size: 0%;
    color: rgb(212, 25, 25);
    background-color: rgb(96, 248, 108);
    border-radius: 0 0  5px 5px;
    box-sizing: border-box;
}

.errorPass.active,
.errorPassTwo.active {
    display: flex;
    font-size: .8em;
}

label {
    font-size: 15px;
}


.headerFour {
    padding-top: 3vh;
    background-color: rgb(183, 232, 255);
    height: 100%;
    height: 100vh;
    padding-left: 4em;
}

button {
    margin-bottom: 1em;
    padding: .5em 3em;
    border-radius: 10px;
    margin-top: .5em;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(13, 31, 87);
    border-color: rgb(13, 31, 87);
    font-family: 'Prosto One', cursive;
    
}

button:active {
    box-shadow: 0px 0px 2px 2px rgb(0, 238, 255);
    background-color: rgb(146, 224, 255);
}

.log {
    font-size: 20px;
    background-color: rgb(183, 232, 255);
    font-family: 'Prosto One', cursive;
}

