* {
    appearance: none;
    margin: 0;
}

@font-face {
    font-family: 'Dancing Script', cursive;
    src: local("Dancing Script"),
    url("DancingScript-VariableFont_wght.ttf");
    font-weight: bold;
  }

body {
    display: flex;
    max-width: 100vw;
    height: 100vh;
}

/*
@media screen and (min-width: 480px) {
    body{ 
        max-width: 1500px;
    }
}
*/

.groupOne {
    background: url(https://images.unsplash.com/photo-1625685959735-77460dc42f06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80;) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 25em;
}

.groupTwo {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
}

.sorcerer {
    display: flex;
    font-family: 'Dancing Script', cursive;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 7em;
}

.artistOfImage {
    font-family: 'Prosto One', cursive;
    display: flex;
    color: rgba(138, 138, 138, 0.25);
    font-size: 1em;
    text-align: center;
    

}

.summaryBox {
    font-family: 'Prosto One', cursive;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 33.3333vh;
    padding: 5em 2em;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(183, 232, 255);
    word-wrap: break-word;
    gap: 1em;
}



.formBox {
    padding-bottom: 3em; 
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 45em;
    height: 33.3333vh;
    font-family: 'Prosto One', cursive;
}

#doThis {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
    font-family: 'Prosto One', cursive;
}

.columnOne {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.columnTwo {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#doubleColumn {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 3.5em;
    padding-right: 20em;
}

form {
    position: absolute;
    width: 300px;
    height: 10px;
}

input {
    position: relative;vh;
    padding-left: .7em;
    width: 17em;
    height: 1.5em;
    font-family: 'Prosto One', cursive;
    background-color: rgb(178, 204, 219);
}

input[type="password"]:invalid {
    border-color: red;
    background-color: rgb(231, 191, 191);
}

.errorPass,
.errorPassTwo {
    padding: 0;
    font-size: 0%;
    color: rgb(212, 25, 25);
    background-color: rgb(96, 248, 108);
    border-radius: 0 0  5px 5px;
    box-sizing: border-box;
}

.errorPass.active,
.errorPassTwo.active {
    display: flex;
    font-size: .8em;
}

label {
    font-size: 15px;
}


.accountBox {
    display: flex;
    flex-direction: column;
    height: 33.3333vh;
    background-color: rgb(183, 232, 255);
    
}

button {
    font-family: 'Prosto One', cursive;
    display: block;
    border-radius: 10px;
    margin-left: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 3em;
    width: 11em;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background-color: rgb(13, 31, 87);
    border-color: rgb(13, 31, 87);
    
}

button:active {
    box-shadow: 0px 0px 2px 2px rgb(0, 238, 255);
    background-color: rgb(146, 224, 255);
}

.log {
    font-size: 20px;
    background-color: rgb(183, 232, 255);
    font-family: 'Prosto One', cursive;
}

