* {
    margin: 0;
}

body {
    display: flex;
}


.headerOne {
    background: url(https://images.unsplash.com/photo-1625685959735-77460dc42f06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80;) no-repeat;
    background-size: cover;
    display: flexbox;
    width: 500px;
    height: 100vh;
}

.odin {
    font-family: 'Dancing Script', cursive;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 45svh;
    font-size: 50px;
    font-weight: 600;
}

.headerTwo {
    padding-left: 3vw;
    padding-right: 4vw;
    padding-top: 10vh;
    padding-bottom: 3vh;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(142, 213, 247);
}

.paragraphThree {
    padding-top: 2em;
}

.group {
    display: flex;
    flex-direction: column;
}

.headerThree {
    padding: 5vh 3vh;
    max-width: 45em;
    padding-left: 3vw;
    padding-right: 4vw;
}

#doThis {
    font-size: 20px;
    font-weight: bold;
}

.group2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    position: relative;

}

form {
    position: relative;
    width: 300px;
    height: 10px;
}

.headerFour {
    padding: 5vh 3vh;
    background-color: rgb(142, 213, 247);
}

.log {
    background-color: rgb(142, 213, 247);
}
